
<!-- Button trigger modal -->
<link rel="stylesheet" href="/css/criarSala.css">
<!-- <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
    Criar Sala
  </button> -->

<script src="/javascripts/calculaCep.js">

</script>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crie o grupo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">X</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/grupos/criargrupo" class="formulario" method="post" enctype="multipart/form-data">
    
            <div class="nomeGrupo">
                <label for="nomeGrupo">Nome do Grupo:</label>
                <input type="text" name="nome" id="nomeGrupo">            
            </div>
        
            <div class="nomeJogo">
                <label for="nomeJogo">Nome do Jogo:</label>
                    <select name="nomeJogo" id="nomeJogo">
                      <option selected disabled>Selecione</option>
                         <% for(jogo of jogos){ %>
                            <option value="<%= jogo.id %>"><%= jogo.nome %></option>
                        <%  }  %>
                    </select>
            </div>
        
            <div class="numJogadores">
                <label for="numJogador">Nº de Jogadores:</label>
                <input type="number" name="numJogadores" id="numJogador" min="2" step="1" pattern="\d*"  >
            </div>
        
            <div class="inicio">
                <label for="inicio">Início das Reuniões:</label>
                <input type="text" name="inicioReuniao" id="inicio" placeholder="dd/mm/aaaa"><!-- calendario será aprimorado -->
            </div>

            <div class="horario">
              <label for="horario">Horario das Reuniões:</label>
              <input type="time" min="00:00" max="23:59" name="horario" id="horario">
          </div>

          <div class="duracao">
            <label for="duracao">Tempo de jogo:</label>
            <input type="number" name="tempoJogo" min="0" step=".5" id="duracao">
          </div>
        
            <div class="endereco">
                <div class="cep">
                    <label for="cep">CEP:</label>
                    <input type="text" name="cep" id="cep" placeholder="Apenas números" value="" maxlength="8"
                    onblur="pesquisaCep(this.value)">
                </div>
        
                <div class="cidade">
                    <label for="cidade">Cidade:</label>
                    <input type="text" name="cidade" id="cidade">
                    <!-- <select name="cidade" id="cidade">
                        <option selected disabled>Selecione</option>
                         for(cidade of cidades){ 
                            <option value=" cidade.id ">cidade.nome</option>
                         } 
                    </select> -->
                </div>
        
                <div class="rua">
                    <label for="endereco">Endereço:</label>
                    <input type="text" name="endereco" id="endereco" value="">
                </div>
        
                <div class="numero">
                    <label for="numero">Número:</label>
                    <input type="text" name="numero" id="numero">
                </div>
        
                <div class="complemento">
                    <label for="complemento">Complemento:</label>
                    <input type="text" name="complemento" id="complemento">
                </div>
            </div>
        
            <div class="imgGrupo">
                <label for="imgGrupo">Imagem do grupo:</label>
                <div class="upload">
                    <input type="file" name="imgGrupo" id="imgGrupo">
                </div>
            </div>
        
            <div class="descricao">
                <label for="descricao">Descrição do grupo:</label>
                <textarea name="descricao" id="descricao"></textarea>
            </div>
        
            <div class="opcoes">
                Dias de reunião:
                <div class="diaReuniao">
                    <div class="dia">
                      <input type="checkbox" name="diasReuniao" id="Domingo" value="Domingo">
                      <label for="Domingo">Domingo</label>
                    </div>
                    <div class="dia">
                      <input type="checkbox" name="diasReuniao" id="Segunda-Feira" value="Segunda-Feira" >
                      <label for="Segunda-Feira">Segunda-Feira</label>
                    </div>
                    <div class="dia">
                      <input type="checkbox" name="diasReuniao" id="Terça-Feira" value="Terça-Feira" >
                      <label for="Terça-Feira">Terça-Feira</label>
                    </div>
                    <div class="dia">
                      <input type="checkbox" name="diasReuniao" id="Quarta-Feira" value="Quarta-Feira" >
                      <label for="Quarta-Feira">Quarta-Feira</label>
                    </div>
                    <div class="dia">
                      <input type="checkbox" name="diasReuniao" id="Quinta-Feira" value="Quinta-Feira" >
                      <label for="Quinta-Feira">Quinta-Feira</label>
                    </div>
                    <div class="dia">
                      <input type="checkbox" name="diasReuniao" id="Sexta-Feira" value="Sexta-Feira" >
                      <label for="Sexta-Feira">Sexta-Feira</label>
                    </div>
                    <div class="dia">
                      <input type="checkbox" name="diasReuniao" id="Sábado" value="Sábado">
                      <label for="Sábado">Sábado</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn" data-dismiss="modal">Fechar</button>
              <button type="submit" class="btn">Criar</button>
            </div>
            </form>
        </div>

      </div>
    </div>
  </div>
